/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./blogpost.css";

html {
	scrollbar-color: var(--awesomeee-post) transparent;
}

body {
	@apply h-screen w-screen overflow-x-hidden overflow-y-scroll transition-colors duration-300;

	font-family: var(--font-zilla-slab);
	scrollbar-color: var(--awesomeee-post) transparent;
}

:root {
	--awesomeee-primary: #52493c;
	--awesomeee-secondary: #dcdcdc;
	--awesomeee-accent: #db9e6f;
	--awesomeee-link: #eaaa33;

	--awesomeee-header: #eaaa33;
	--awesomeee-post: #52493c;
	--awesomeee-list-deco: "✨";
}

.istanbul {
	--awesomeee-primary: #24436b;
	--awesomeee-secondary: #dbedff;
	--awesomeee-accent: #db9e6f;
	--awesomeee-link: #52493c;

	--awesomeee-header: #52493c;
	--awesomeee-post: #24436b;
}

@media (prefers-color-scheme: dark) {
	:root {
		--awesomeee-primary: #dcdcdc;
		--awesomeee-secondary: #52493c;
		--awesomeee-accent: #db9e6f;
		--awesomeee-link: #eaaa33;

		--awesomeee-post: #e0d2b8;
		--awesomeee-header: #eaaa33;
	}

	.istanbul {
		--awesomeee-primary: #dcbdfb;
		--awesomeee-secondary: #1e385b;
		--awesomeee-link: #eaaa33;
		--awesomeee-accent: #db9e6f;

		--awesomeee-post: #c4ccd4;
		--awesomeee-header: #dcbdfb;
	}
}
